/* =========================================
   SEARCH.CSS
========================================= */

.search-content {
    max-width: 850px;
}

.search-box {
    max-width: 750px;
}

.search-box input:focus {
    outline: none;
}

.search-box button {
    cursor: pointer;
}

.search-box button:hover {
    background: var(--color-primary);
}